name: Android CI

on:
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
      with:
        submodules: 'recursive'
        token: ${{ secrets.PAT_TOKEN }}
    - name: Set up JDK 11
      uses: actions/setup-java@v5
      with:
        java-version: '11'
        distribution: 'temurin'
    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"
        cache: 'pip'
    - run: pip install -r requirements.txt
    - name: Grant execute permission
      run: chmod +x ci_download_src_apk.sh ci_install_deps.sh ci_build.sh build_release.sh
    - name: Install dependencies
      run: ./ci_install_deps.sh
    - name: Download source APK
      run: ./ci_download_src_apk.sh
      env:
        PAT_TOKEN: ${{ secrets.PAT_TOKEN }}
    - name: Run ci_build.sh
      run: ./ci_build.sh
      env:
        KEYSTORE_BASE64: ${{ secrets.KEYSTORE_BASE64 }}
        KS_PASS: ${{ secrets.KS_PASS }}
        KS_KEY_ALIAS: ${{ secrets.KS_KEY_ALIAS }}
        KEY_PASS: ${{ secrets.KEY_PASS }}
        MT_TOTENDOMAIN: ${{ secrets.TOTENDOMAIN }}
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: built_apk
        path: ./*.apk
    - name: Prerelease Build
      if: >-
        startsWith(github.ref, 'refs/tags/v') &&
        endsWith(github.ref, '-prerelease')
      uses: softprops/action-gh-release@v1
      with:
        prerelease: true
        files: |
          ${{ env.MAIN_APK }}
          ${{ env.FAILSAFE_APK }}
    - name: Release Build
      if: >-
        startsWith(github.ref, 'refs/tags/v') &&
        !endsWith(github.ref, '-prerelease')
      uses: softprops/action-gh-release@v1
      with:
        prerelease: false
        files: |
          ${{ env.MAIN_APK }}
          ${{ env.FAILSAFE_APK }}
